/* src/components/Navbar.css */

.navbar {
    background-color: #007bff;
    /* Bootstrap primary color */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #e0e0e0;
    /* Light color on hover */
}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
    margin-left: 15px;
    /* Space between links */
    transition: color 0.3s;
}


.nav-link:hover {
    color: #e0e0e0;
    /* Light color on hover */
}

.btn {
    background-color: transparent;
    /* No background */
    border: none;
    /* No border */
    color: #ffffff;
    /* White text */
    font-weight: 500;
    cursor: pointer;
    margin-left: 15px;
    /* Space from other links */
}

.btn:hover {
    color: #e0e0e0;
    /* Light color on hover */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    /* White border */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'/%3E%3C/svg%3E");
}